 // overrides
$blue:    #007bee;
$indigo:  #6610fe;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffcc00;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary: #8AB3C9;
$secondary: #705d56;
$danger: #ffff;


// include bootstrap
@import "bootstrap/scss/bootstrap";

// custom styles
body {
  background-color: #FEEDDD;
  font-family:  sans-serif;
  //font-family:  "Georgia", sans-serif;

  /*--bs-body-font-family: "Apple Chancery";*/
  h1,h2, h3 {
    font-family: "American Typewriter", serif;
  }
}
a {
  color: #70abaf;

}
 a.delete-link, a.edit-link {
    margin: 1%;
    font-size: larger;

}
a:hover.delete-link, a:hover.edit-link{
  color: #99e1d9;
}

body {
  .btn {
    margin-top: 3%;

  }
}

.btn-danger {
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #bb2d3b;
  --bs-btn-hover-border-color: #b02a37;
  margin: 7px;}


input.larger {
  width: 20px;
  height: 20px;
  padding: 5%;
  margin: 10%;
}

.border-dark {
  border-color: rgba(112, 93, 86, 0.34) !important;
}
/* I promise I only have these important tags bc the bootstrap code says important too!! */
h4 {
  background-color: #705d56;
  color: white;
  padding: 9px;
  margin: 0;
  opacity: 1;
}
.d-flex{
  align-items:center;
}
.btn-close {
  --bs-btn-close-color: white;
}

.bg-body-tertiary {
  background-color: #705d56 !important;
}

nav.navbar.navbar-expand-lg{
  background-color: #705d56 !important;
  a {
    --bs-nav-link-color:white;
    --bs-navbar-color: #705d56;
    --bs-nav-link-hover-color: #8AB3C9;
    --bs-navbar-active-color:#99e1d9;
  }
}
.navbar-brand {
  width: 100px;
  height: auto;
}
body .navbar-toggler{
  background-color: transparent;

}
i.fa-solid.fa-bars{
  color: white;
}

.modal-btn .d-flex  .justify-content-end{

  justify-content: end;
}
.btn-outline-light{
  --bs-btn-border-radius: 30px;
  padding: 1%;
}
.red {
  color: red;
  font-weight: bold;
}
.row .color-block {
  border-left: 10px solid ;

}
 div.container.rounded-3.border.border-2.border-dark.my-5.bg-white.sign-in{
   padding: 2%;
   .btn{
     margin: .5%;

   }
 }









